* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1, p, span, h2{
    font-family: Manrope, sans-serif; 
    overflow-y: hidden;
}
h1, p, span, h2, img, a, div{
    overflow-y: hidden;
}

body {
    background-color: white;
}


header {
    background-image: url('../image/IVAV\ SOLUTIONS\ 4.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-y: hidden;
}

nav {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 70px;
    padding: 20px;
}



.nav-logo {
    width: 50px;
    align-items: center;
    
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}

.links a {
   color: #707070;
   font-family: Manrope;
   font-size: 14px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   text-decoration: none;
   transition: 0.3s;
   
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fa fa-phone {
    color: black;
}

.header-logo span {
  color: #707070;
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header-logo p {
  color: #000;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 100px;
    
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-container span {
   color: #009199;
   font-family: Manrope;
   font-size: 13px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   letter-spacing: -0.333px;
}

.content-container h1 {
   color: #000;
   font-family: Manrope;
   font-size: 48px;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   letter-spacing: -0.333px;
   margin-top: 10px;
}

.content-container p {
   color: #6A6A6A;
   font-family: Manrope;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 35px; /* 175% */
   letter-spacing: -0.333px;
   margin-top: 10px;
}

.btn {
    padding: 17px 50px;
    width: 250px;
    background: #13C4A1;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
}

.img-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-content: center;
}

.second-img {
    position: relative;
    left: 90%;
    width: 120px;
    top: 50px;

}

.first-img {
    position: relative;
    width: 250px;
    left: 50%;
}

.cards {
    width: 350px;
    height: 400px;
    background: #13C4A1;
    padding: 20px;
    box-shadow: 2px 11px 20px 0px rgba(51, 51, 51, 0.05), -2px -11px 20px 0px rgba(51, 51, 51, 0.05);
}

.card-design {
    display: flex;
    gap: 80px;
    align-items: center;
}

.card-design h1 {
    font-size: 50px;
    opacity: 0.1;

}
.card-design img {
    width: 70px;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.card-text h1 {
    font-size: 28px;
}



.card-text p {
    font-size: 14px;
}

/* .card-content {
    display: flex;
} */


.card {
    width: 350px;
    height: 400px;
    box-shadow: 2px 11px 20px 0px rgba(51, 51, 51, 0.05), -2px -11px 20px 0px rgba(51, 51, 51, 0.05);
    background: white;
    padding: 20px;

}

.details {
    text-align: center;
}

.cards-container {
    display: flex;
    gap: 10px;

}

.cards-details {
    padding: 80px;
    margin-top: 60px;
}

.brief-img {
    display: flex;
    gap: 20px;
    margin-top: 4rem;
}

.img-hero .small-logo {
    position: relative;
    transform: translate(-100%, -20%);
    top: -40%;
    left: 59%;
    justify-content: center;
}

.brief-img img {
    width: 200px;
    height: 320px;
    flex-shrink: 0;
}


.reviews-content {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.reviews {
    display: flex;
    align-items: center;
    gap: 10px;
}

.reviews-container {
    padding: 80px;
}

.reviews-container h1 {
    font-size: 20px;
    
}


.reviews img {
    width: 60px;
}

.reviews p {
    font-size: 14px;
}

.reviews h1 {
    font-size: 20px;
    color: #13C4A1;
}

.reviews-container {
    padding: 80px;
}

.project-img {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project-container {
    padding: 80px;
    margin-left: 50px;
}

.proj-text {
    display: flex;
    gap: 60px;
    align-items: center;
    margin-bottom: 20px;
}

.proj-text h1 {
    font-size: 24px;
}

.proj-icon {
    display: flex;
    gap: 20px;
}

.proj-icon img {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 50%;
    fill: #fff;
    
}

.book-container {
    display: flex;
    padding: 80px;
    align-items: center;
    
}

.book-content {
    margin-left: 50px;
    color: #fff;
    line-height: 2rem;
}

.book-content h1 {
    font-size: 25px;


}

.book-content p {
    font-size: 15px;
}
.book-content button{

}

.bookings {
    background-color: #13C4A1;
    background-image: url('../image/IVAV\ SOLUTIONS\ 4.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



.book-img {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    place-content: center;
}

.second-book {
    position: relative;
    left: 80%;
    width: 120px;
    top: 50px;

}

.first-book {
    position: relative;
    width: 250px;
    left: 60%;
}

.footer {
   padding: 80px;
   background-color: #000;
}



.footer-container {
    display: flex;
    /* align-items: center; */
    gap: 180px;
    color: white;
}

.footer-help {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-help h1 {
    color: #13C4A1;
    font-size: 20px;
}

.footer-help p {
    font-size: 14px;
}

.footer-form h1 {
    color: #13C4A1;
    font-size: 20px;
}

form input {
    border: none;
    background-color: #000;
}

.footer-services {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-services h1 {
    font-size: 20px;
    color: #13C4A1;

}

.footer-services p {
    font-size: 14px;
} 

.footer-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.footer-contact h1 {
    color: #13C4A1;
    font-size: 20px;
}

.footer-contact p {
    font-size: 14px;
}

.footer-social {
    display: flex;
    gap: 600px;
}

.policy {
    color: white;
    display: flex;
    gap: 30px
}

.policy p {
    font-size: 14px;
}

hr {
    width: 100%;
}

.footer-copy {
    text-align: center;
    color: white;
    margin-top: 20px;
    font-size: 15px;
}

@media   (width < 900px) {
    *{
        overflow-x: hidden;
    }
    .links a:not(.nav-links) {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    .second-img {
        display: none;
    }
    
    .first-img {
       width: 400px;
       position: relative;
       left: 14%;
       align-items: center;

    }

    .cards-container {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin-top: 15%;
        width: 80vw;
        text-align: left;
    }

    .img-hero {
        display: none;
    }

    .reviews {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        padding: 0%;
        margin-top: 2rem;

    }
    .reviews p{
        padding: 2rem;
    }
    .reviews-content{
        text-align: center;
        width: 100%;

    }

    .pro-img {
        display: none;
    }

    .proj-text {
        display: flex;
        flex-direction: column;
        padding: 0%;
        margin: 0%;
        height: 0%;
        gap: 5rem;
    }
    .proj-text h1{
        font-size: 2rem;
        font-weight: 600;
        
    }
    .book-img {
        display: none;
    }


    .book-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .book-content div{
        width: 100%;
    }
    .book-content div button{
        width: 30%;
        padding: 1rem;
        color: #13C4A1;
        background-color: #fff;
        border: #ffffff;
        border-radius: .5rem;
    }
    .content-container{
        text-align: center;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .footer {
        padding: none;
        margin: none;
    }
    .btnd{
        width: 80vw;
    }
    .btn {
        margin: auto;
    }
    .cards{
        width: 100%;
        border-radius: 2rem;
        height: fit-content;
    }
    .card{
        height: fit-content;
        width: 100%;
        border-radius: 1rem;
        margin-top: 2rem;

    }
    .arrow{
        text-align: right;
    }
    .br-none{
        display: none;
    }
    .card-text{
        margin-top: 4rem;
    }
    .card-text p {
        font-size: 1.2rem;
        font-weight: 100;
    }
    .card-text i{
        padding: 5%;
        background-color: #ffffff;
        color: #13C4A1;
        border-radius: 50%;
        margin-right: 1rem;
        margin-top: 1rem;
        box-shadow: 0px 0px 5px 10px rgba(51, 51, 51, 0.05);
    }
    .card-design{
        width: 100%;
    }
    .card-design h1{
        text-align: right;
        width: 100%;
        font-size: 6rem;
        font-weight: 800;
    }
    .card-design img{
        width: 10rem;
    }
    .rev-text{
        text-align: center;
    }
    .reviews-container h1{
        font-size: 2rem;

    }
    .project-img{
        padding: 0px;
        height: 20%;
    }
    .pro-img-1 {
        width: fit-content;
    }
}
@media only screen and (max-width: 500px){
  .first-img  {
    width: 390px;
    left: 10px;
  }
  .content-container h1 {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 32.78px;
  }
  .content-container p {
    font-size: 1rem;
    line-height: 30px;
    font-weight: 400;
  }
  .btn{
    line-height: 21.86px;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .details {
    font-size: 2rem;
  }
.cards-details{
    padding: 0;
}    
.cards-container{
    width:400px ;
    margin-left: 14px;
}
.card-text h1{
    font-size: 2rem ;
    font-weight: 700 ;
}
.card-text p{
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 26px;
}
.reviews p{
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 26px;
}
.reviews-container{
    padding: 0;
}
.project-container{
    padding: 0;
    margin-left: -10px;
    
}
.proj-text{
    gap: 75px;
}
.proj-icon{
    padding: 30px;
}

.proj-text h1 {
    margin-top: 50px;
}
.book-container{
    padding: 0;
}
.bookings{
    margin-left: -14%;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
 
}
.bookings h1{
    font-size: 1.1rem;
    font-weight: 700;
}
.bookings p{
    font-size: 0.8rem;
    line-height: 30px;
    font-weight: 400;
}
.book-content-btn{
    padding: 20px;
}
.footer{
    padding: 0px;
    padding-left: 10px;
    padding-top: 20px;

}

}